.row-vertical-align {
  display: flex;
  align-items: center;
}

.no-left-pad {
  padding-left: 0 !important;
}

.no-pad {
  padding: 0 !important;
}

.morph-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
