$primary-font: Montserrat, sans-serif;
$primary-font-regular: Montserrat-Regular, sans-serif;

$primary-font-thin: Montserrat-Thin, sans-serif;
$primary-font-light: Montserrat-Light, sans-serif;
$primary-font-medium: Montserrat-Medium, sans-serif;
$primary-font-semibold: Montserrat-SemiBold, sans-serif;
$primary-font-bold: Montserrat-Bold, sans-serif;


// fallback into:
$primary-default-font: serif;
$secondary-default-font: sans-serif;
