.search{

    .search-bar{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: 10px;

    }

    .cards{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        

        drm-card{
            margin-bottom: 20px;
        }
    }
}