<div class="search">
    <div class="search-bar">
        <div class="morph-primary-text-input">
                <input  type="text" [(ngModel)]="value" placeholder="Search anything...">
        </div>
        <div class="button">
            <button mat-stroked-button (click)="onSearch()"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="search"></mat-icon> Search </button>
        </div>
    </div>
    

    <div class="cards">

        <ng-container *ngFor="let dataPoint of data">
        <drm-card [fileName] = "dataPoint.fileName.S" [url]="dataPoint.s3Url.S" [uploadedAt]="dataPoint.uploadedAt.S" [keyWords]="dataPoint.keyWords.S"></drm-card>

        </ng-container>
    </div>
      
</div>