@import "../../base/colors";
@import "../../base/default-fonts";
@import "../../../../assets/styles/helpers/_variables";

@mixin required($content:"*", $color:$secondary-red, $font-size:36px, $line-height:36px, $height:22px, $margin-left:auto) {
  &:after { content: $content; position: relative; color: $color; font-size: $font-size; line-height: $line-height; height: $height; margin-left: $margin-left;
    font-family: $primary-font-light, $primary-default-font;
  }
}

.morph-input {
  border-radius: $input-radius ; border: 1px solid $grey; width: 100%; height: 36px; padding: 0 .75rem; background-color: $background-white; background-clip: padding-box;
  font-family: $primary-font-light; color: $input-text-color;
  &:focus{ border-color: $primary-light; border-radius: $input-radius; }
  &[disabled]{opacity: .35}
}
